<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Document</title>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
    crossorigin="anonymous">
  <link rel="stylesheet" href="home.css">

</head>

<body ng-app="BotaApp">

  <div class="container" ng-controller="homeCtrl as ctrl">
    <div class="row">
      <div class="space"></div>
    </div>

    <!-- Row -->
    <div class="row">
      <!-- Col -->
      <div class="col-md-4">
        <div class="input-group">
          <div class="input-group-btn">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Datacenter </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#" ng-repeat="dc in ctrl.datacenters" ng-click="ctrl.selectedDatacenter(dc)">{{dc}}</a>
            </div>
          </div>
          <input type="text" ng-model="ctrl.datacenter" class="form-control" aria-label="Text input with dropdown button">
        </div>
      </div>
      <!--/ Col -->

      <!-- Col -->
      <div class="col-md-4">
       <div class="input-group">
          <div class="input-group-btn">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Folders </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#" ng-repeat="folder in ctrl.folders" ng-click="ctrl.selectedFolder(folder)">{{folder}}</a>
            </div>
          </div>
          <input type="text" ng-model="ctrl.folder" class="form-control" aria-label="Text input with dropdown button">
        </div>
      </div>
      <!--/ Col -->

      <!-- Col -->
      <div class="col-md-4">
        <button type="button" class="btn btn-success">  +  </button>
      </div>
      <!--/ Col -->

    </div>
    <!--/ Row -->

  </div>

  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
    crossorigin="anonymous"></script>
  <!-- AngularJS -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <!-- Custom JS-->
  <script src="home.js"></script>
</body>

</html>